@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: monospace;
  height:100%;
  padding: 0;
  margin: 0;
}

/* Bienvenido */

.bienvenido{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
    color: #fff;
}

.presentacion-bienvenida{
  position: absolute;
  bottom: 20%;
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ingresar{
  position: absolute;
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  font-weight: 300;
  font-size: 1.5rem;
  bottom: 10%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.ingresar a:visited, a:link{
  color: white;
}

.ingresar:hover{
    background-color: #fff;
    color: #000;
}

.ingresar:hover a:visited, a:link{
  color:#000;
}

/* LOGOS */

.mosaico img{
  width: 200px;
  height: 200px;
}

/* #yo{
  position: absolute;
  top: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
  text-align: center;
}

#angular{
  position: relative;
  top: 30%;
  margin-left: 30%;
  width: 300px;
  height: 100px;
}
#css{
  position: relative;
  display: inline;
  top: 35%;
  margin-left: 80%;
  width: 300px;
  height: 100px;
}
#html{
  position: relative;
  top: 30%;
  margin-left: 30%;
  width: 300px;
  height: 100px;
}
#javascript{
  position: relative;
  top: 30%;
  margin-left: 30%;
  width: 300px;
  height: 100px;
}
#node{
  position: relative;
  top: 30%;
  margin-left: 30%;
  width: 300px;
  height: 100px;
}
#python{
  position: relative;
  top: 30%;
  margin-left: 30%;
  width: 300px;
  height: 100px;
}
#sass{
  position: relative;
  top: 30%;
  margin-left: 30%;
  width: 300px;
  height: 100px;
}
#typescript{
  position: relative;
  top: 30%;
  margin-left: 30%;
  width: 300px;
  height: 100px;
} */

/* All */

.all{
    height: 100%;
    padding: 0%;
    margin: 0%;
    position: absolute;
    top: 0;
}

/*  HEADER Y BARRA DE NAVEGACIÓN */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  object-fit: cover;
  justify-content: space-between;
  align-items: center;
  z-index: 2000;
  margin-right: 0px;
  overflow: hidden;
  background-color: #000;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  width: 100%;
  padding: 5px 30px;
}

a {
  text-decoration: none;
}
/* nav 
a:visited,
a:link {
  color: rgb(255, 255, 255);
} */

#logo{
    font-size: 1.3rem;
    margin: 20px;
    text-align: center;
    color: #fff;
}

.btn {
  padding: 5px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: white;
  border: 1px solid #000;
  cursor: pointer;
}

.btn a:link, a:visited{
  color: rgb(0, 0, 0);
}

.btn:hover {
  background-color: #000;
  color: white;
  border:  1px solid #fff;
}

.btn:hover a:hover {
  color: white;
}

/* a:hover{
  color: white;
} */

.btn-active{
  background-color: #000;
  color: #fff;
  border:  1px solid #fff;
}

.btn-active a:visited, a:active {
  color: #fff;
}


/* .btn:hover a:link, a:active{
  color: white;
} */

.container {
  margin: 0;
  width: 90%;
  overflow: hidden;
}

.tecnologias-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  gap: 1em;
  background-color: #000;
}
.tecnologia-item {
  list-style: none;
}
.tecnologia-item img {
  width: 50px;
  height: 50px;
}

.menu--list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: max-content;
  gap: 2em;
}

.menu--item {
  list-style: none;
  font-size: 1.2rem;
}

main{
  position: relative;
  top: 100px;
}

/* YO */

.yo{
  display: flex;
  flex-direction: column;
  margin-bottom: 10%;
}

.yo-descripcion{
  display: flex;
  flex-direction: row;
  margin: 15px;
  justify-content: space-between;
}

.yo-texto-descripcion{
  font-size: 1.2rem;
  width: 70%;
}

.yo-certificado img{
  width: 300px;
  height: 200px;
  padding: 10px;
}

.yo-certificado h3{
  margin-top: 0;
  text-align: center;
}

.yo-conocimientos{
  width: 80%;
  margin: 20px auto;
}

.tabla-conocimientos{
  font-size: 1.2rem;
  font-weight: bold;
}
.td-porcentaje{
  width: 100%;
  background-color: rgba(58, 57, 57, 0.055);
}

.porcentaje-conocimientos{
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: end;
}

.porcentaje-conocimientos img{
  height: 30px;
  width: 30px;
  /* background-color: #fff;
  border-radius: 50%; */
}

/* FOOTER */

footer{
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 1.2rem;
  width: 100%;
  height: 100px;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.footer-list{
  display: grid;
  grid-auto-flow: column;
  /* gap: 2rem;
  justify-content: center; */
  list-style: none;
  justify-content: space-evenly;
  padding: 10px 0;
  margin-top: 5px;
  background-color: #000;
}

.footer-item{
  font-size: 1.4rem;
}

.footer-item div{
  display: grid;
  grid-auto-flow: row;
}

.logos-footer{
  margin-left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
}

footer a:link{
  color: #fff;
}

/* Proyectos.html */

.proyectos{
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
}

.apps{
  display: grid;
  grid-auto-flow: row;
}

.proyecto{
  display: grid;
  grid-auto-flow: row;
  margin: 40px auto;
}

.proyecto-contenido {
  display: grid;
  grid-auto-flow: column;
}

.proyect-title{
  text-align: center;
}

.img-tecnologia-proyecto{
  width: 25px;
  height: 25px;
  align-items: center;
}

.proyect-img{
  border: 1px solid black;
}

.img-proyect{
  width: 450px;
  height: 300px;
}

.btn-proyecto{
  margin: 20px auto 50px;
  width: 70px;
  height: 35px;
  border: 1px solid #000;
  font-size: 1.2rem;
  background-color: #fff;
  color: #000;
}

.btn-proyecto:hover {
  background-color: #000;
  color: #fff;
}

.btn-proyecto:hover a:hover{
  color:white
}

/* CONTACTO */

.contactos{
  display: grid;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(2, 0.5fr);
  text-align: center;
  gap: 2rem;
  position: relative;
  transform: translateY(30%);
}

.contacto{
  margin: 50px auto 20px;
  font-size: 1.4rem;
}

.img-contacto{
  height: 50px;
  width: 50px;
  animation: movimiento 2.5s linear infinite;
}

@keyframes movimiento{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0)
  }
}
